body{

	background-color: black !important;
}

.nav-tabs{
  /*background-color:#161616;*/
}
.tab-content > #not-watched{
    
    background: #009900; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1aff1a, #006600); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1aff1a, #006600); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1aff1a, #006600); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1aff1a, black); /* Standard syntax (must be last) */
    width: 100%;
    height: 100vh;
    color:#fff;
    padding:5px

}

.tab-content > #watched{
    
    background: #0000e6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0000e6, #006600); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0000e6, #006600); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0000e6, #006600); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0000e6, black); /* Standard syntax (must be last) */
    width: 100%;
    height: 100vh;
    color:#fff;
    padding:5px

}

.tab-content > #rated{
    
    background: #e6b800; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e6b800, #006600); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6b800, #006600); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6b800, #006600); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6b800, black); /* Standard syntax (must be last) */
    width: 100%;
    height: 100vh;
    color:#fff;
    padding:5px

}


.nav-tabs > li > a{
  border: medium none;
  border-color: black;
  margin : 0 !important;

  -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: -3;


}
.nav-tabs > li > a:hover{
  	background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-tabs > li.active > a{
  	background-color: #1aff1a !important;
    border: medium none;
    border-radius: 0;
    color:white !important;
    /*color:#fff;*/
}

.nav-tabs > li.active > a[href="#not-watched"]{
  	background-color: #1aff1a !important;
    border: medium none;
    border-radius: 0;
    color:white !important;
    /*color:#fff;*/
}

.nav-tabs > li.active > a[href="#watched"]{
  	background-color: #0000e6 !important;
    border: medium none;
    border-radius: 0;
    color:white !important;
    /*color:#fff;*/
}


.nav-tabs > li.active > a[href="#rated"]{
  	background-color: #e6b800 !important;
    border: medium none;
    border-radius: 0;
    color:white !important;
    /*color:#fff;*/
}


.movies p {
    text-align: center;
}
.movie-details {
    margin-top: 20px;
    background-color: #333;
    padding: 1em 0;

}
    .movie-details h3, .movie-details h4, .movie-details p {
        color: #eee;
    }
.movie-details .triangle {
    margin: -25px auto 0 auto;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 13px solid #333;
}
.movie-details iframe {
    width: 100%;
    border: 0;
    height: 200px;
}

.title{
    color:white;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/* -----------------------------------------------------------------------------
  COMPENENTS - RATING
  
----------------------------------------------------------------------------- */
.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-rating__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("stars.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -24px 0;
}

